@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  position: relative;
}
.clock {
  position: relative;
  width: 450px;
  height: 450px;
  /* margin: auto; */
  /* object-fit: contain; */
  background: #93f34a;
  border-radius: 50%;
  box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
  inset 5px 5px 10px rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(0,0,0,0.2),
  inset 5px 5px 10px rgba(0,0,0,0.75),
}

.clock span {
  position: absolute;
  inset: 20px;
  color: #fff;
  text-align: center;
  transform: rotate(calc(30deg*ver(--i)));
}